html
    head
        title OAuth example app
    body
        form(method='post' action='login')
            div
                label(for='username') username:
                input(type='text', id='username')
            div
                label(for='password') password:
                input(type='password', id='password')
            div
                input(type='submit')
            br
            br
            br
            a(href='/auth/google') Sign in with Google